- var page = "main"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		// header
		include pug-modules/header
		// /.header

		
		section.hero


		// footer
		include pug-modules/footer
		// /.footer
		

		


