@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
	position: relative
	font: 16px/1.65 $default-font-family
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

.text-center
	text-align: center

::selection
	background-color: $accent-color
	color: #fff






@import "media" // Всегда в конце