//- - var currentPage = page
//- 		case currentPage
//- 			when "main"
	
//- 			when "other"


footer.footer

// Скрипты
// Jquery с облака и замена в случае отсутствия доступа к облаку 
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script.
	window.jQuery || document.write('<script src="libs/jquery/jquery.min.js"><\/script>')
script(src="js/scripts.js")

